/* src/Container.module.css */
:root {
  --dirty-white: #eef1f5;
  --white: #ffffff;
  --font-color: #333;
  --title-color: #2c3e50;
  --seperating-line: #e0e0e0;
  --green: #26c17e;
  --titleColor: #eeeeee;
  --grey-blue: #667081;
}
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background-color: var(--dirty-white);
  font-family: Arial, sans-serif;
  padding: 20px;
  box-sizing: border-box;
}

.mainContent {
  flex-grow: 1;
  max-width: 1000px;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 40px;
  line-height: 1.6;
  color: var(--font-color);
}

.mainContent h1 {
  font-size: 2.5em;
  color: var(--title-color); /* მუქი ფერი სათაურისთვის */
  margin-bottom: 30px;
  text-align: center;
}

/* CV სექციების სტილები */
.cvSection {
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--seperating-line); /* გამყოფი ხაზი სექციებს შორის */
}

.cvSection:last-child {
  border-bottom: none; /* ბოლო სექციას არ აქვს გამყოფი ხაზი */
}

.cvSection h2 {
  color: var(--green);
  font-size: 1.8em;
  margin-bottom: 15px;
  padding-bottom: 5px;
  display: inline-block;
}

.cvSection p {
  margin-bottom: 10px;
}

/* განათლებისა და გამოცდილების ქრონოლოგიის სტილები */

.educationContainer {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
}

.educationTimeline {
  margin: 70px 0px;
  padding-left: 10px;
}
.greenLine {
  margin-left: 20px;
}
.educationItem h3,
.experienceItem h3 {
  color: var(--font-color);
  margin-bottom: 5px;
  font-size: 1.2em;
}

.educationItem p {
  margin-top: 80px;
  background-color: var(--titleColor);
  width: 891px;
  height: 90px;
  padding: 10px;
}
.educationItemOne {
  background-color: var(--titleColor);
  width: 891px;
  height: 90px;
  padding: 10px;
}

.cards {
  display: flex;
  flex-direction: column;
}
.card {
  margin: 0px 12px;
}
h4 {
  color: var(--green);
  padding-left: 12px;
}
span {
  color: var(--grey-blue);
  padding-left: 2px;
}
